@using IrinasBlazorSample.Models;
<h3>Display Message</h3>
@if (Model != null)
{
    <div class="row">
        <div class="col" style="border: 1px solid grey">
    
        </div>
    </div>
}

@code {

    public SimpleDisplayModel Model { get; set; }

}
